/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Prata&display=swap');
/* global styles */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* #### Outline - for troubleshooting #### */
    /* outline: 1px solid limegreen; */
    /* background: rgba(0 100 0 / .1); */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prata', serif;
}

/* ######## Header ######## */

header {
    background-color: #2a5360;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #eadbd4;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    text-transform: uppercase;
}

nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: rgba(42, 83, 96, 0.5);
    padding: 0 1rem;
    left: 0;
}

nav li {
    color: azure;
}

/* Needs more work */
nav a:hover {
    color: #3a3a3a;
}

nav a:active {
    border-bottom: 1px solid #3a3a3a;
}

#nav-menu {
    display: none;
}

#nav-menu:checked~nav {
    display: block;
}

.nav-toggle-icon {
    font-size: 1.75rem;
    color: #eadbd4;
}

/* ######## Body ######## */
main {
    flex: 1 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#intro-text {
    background-color: transparent;
    width: 85%;
    padding: .5rem;
}

.book-button {
    font-size: 1.5rem;
    background-color: #2a5360;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: #eadbd4;
    border: none;
    box-shadow: 0 4px 2px #3a3a3a;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url("../images/blackrock-diving-tower-sunset.webp") no-repeat center center/cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 100%);
}

#class-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#class-cards h2 {
    margin: .5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.class-img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* ######## Book Now Page ######## */


#book-now {
    background-image: url(../images/shoreline-love-morning.webp);
    background-size: cover;
    flex-grow: 1;
    position: relative;
}

#book-now-form {
    padding: 2rem 2rem;
    margin: 1rem;
    background-color: rgba(42, 83, 96, .5);
    color: #eadbd4;
    position: relative;
    margin-top: 100px;
    
}

.input-field {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1em;
    border-radius: 5px;
}

label {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

/* ######## footer ######## */

footer {
    background-color: #04757b;
    padding: 2rem 0;
}

#contact-us {
    text-align: center;
    margin-bottom: 1rem;
}

#contact-us a {
    text-decoration: none;
    color: #3a3a3a;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    color: #3a3a3a;
}

/* ######## Media quiries ######## */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    /* Needs more work */
    #menu li:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .nav-toggle-icon {
        display: none;
    }
}